* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6351ce;
}

.topline {
    display: flex;
    justify-items: flex-end;
    background-color: #6351ce;
}

.title {
    margin: auto auto;
    text-align: center;
    font-family: 'Cookie', cursive;
    color: aliceblue;
}

#logo {
    margin: 0% 2%;
    width: 10%;    
}

.arbol1 {
    width: 10%;    
}

.arbol2 {
    width: 10%;    
}

.navbar-custom {
    background-color: #d1d9ff;
}

.ecom {
    padding-left: 2%;
    height: 35px;
    width: 35px;
}

.carousel {
    margin: 0% auto;
    width: 100%;
}

.socialMedia {
    background-color: #6351ce;
    display: flex;
    justify-content: space-evenly;
    padding: 0% 30%;
}

.imgFooter {
    height: 2rem;
    width: 2rem;
    margin: 30%;
}

.cardsPosition {
    margin: 1%;
}

.formPosition {
    margin: 3%;
}

.form-label {
    color: aliceblue;
}

.btn {
    margin-top: 5%;
}