* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6351ce;
}

.topline {
    display: flex;
    justify-items: flex-end;
    background-color: #6351ce;
}

.title {
    margin: auto auto;
    text-align: center;
    font-family: 'Cookie', cursive;
    color: aliceblue;
}

#logo {
    margin: 0% 2%;
    width: 10%;    
}

.arbol1 {
    width: 10%;    
}

.arbol2 {
    width: 10%;    
}

.navbar-custom {
    background-color: #d1d9ff;
}

.ecom {
    padding-left: 2%;
    height: 35px;
    width: 35px;
}

.carousel {
    margin: 0% auto;
    width: 100%;
}

.socialMedia {
    background-color: #6351ce;
    display: flex;
    justify-content: space-evenly;
    padding: 0% 30%;
}

.imgFooter {
    height: 2rem;
    width: 2rem;
    margin: 30%;
}

.cardsPosition {
    margin: 4%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
  .price {
    color: grey;
    font-size: 22px;
}
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
  .card button:hover {
    opacity: 0.7;
}

.formPosition {
    margin: 3%;
}

.form-label {
    color: aliceblue;
}

.btn {
    margin-top: 5%;
}